.weatherInfoContainer {
    padding: 24px;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    max-width: 375px;
}

.weatherInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.weatherInfoContainer--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.weatherInfoContainer--body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weatherInfoContainer--header__temperature {
    margin-top: 0;
    margin-bottom: 0;
}
.weatherInfoContainer--header__cityName {
    margin-top: 0;
    margin-bottom: 0;
    width: 160px;
}

.weatherInfoContainer--leftBlock {
    width: 210px;
}

.icon {
    width: 18px;
    height: 18px;
}

.weatherInfoContainer--leftBlock__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.weatherInfoContainer--leftBlock__info {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
}

@media (max-width: 420px) {
    .weatherInfoContainer {
        padding: 18px;
    }

    .weatherInfoContainer--leftBlock {
        min-width: 180px;
    }
}
