@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

body {
    font-family: Roboto;
    background: url(SVG/background.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 16px;
}

#cityChoise {
    min-width: 100%;
}

svg {
    max-height: 200px;
}

@media (max-width: 420px) {
    body {
        padding: 0;
    }
}